version: '3.8'

services:
  db:
    image: postgres:9.6
    container_name: peeps-db
    env_file:
      - .local.env
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    container_name: peeps-web
    env_file:
      - .local.env
    ports:
      - 8000:8000
    volumes:
      - peeps_src:/src
    depends_on:
      - db


volumes:
  postgres_data:
  peeps_src: