version: '3'

services:
  db:
    image: postgres
    env_file: .local.env
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  web:
    build: .
    command: python medrecruitment/manage.py runserver 0.0.0.0:8000
    env_file: .local.env
    volumes:
      - .:/src
    ports:
      - "8000:8000"
    depends_on:
      - db


volumes:
  postgres_data: